@use "reset";

$base-size: 1rem;

body {
    max-width: min(80ch, 100vw - 1rem);
    margin-inline: auto;
    background: greenyellow;
    
}

nav > ul{
    
    display: flex;
    gap: $base-size;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    background: rgb(243, 144, 144);
    padding: 35px 0;
    box-shadow: 0px 8px 0px #10e405;
    margin-bottom: 2%;
}

picture > img{
    display: black;
    max-width: 100%;
    height: auto;
}

