body {
    max-width: min(80ch, 100vw - 1rem);
    margin-inline: auto;
    background: greenyellow;
    
}

nav ul{
    
    display: flex;
    gap: 1rem;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    padding: 40px 0;
    box-shadow: 0px 8px 0px #bbbbbb;
}

picture > img{
    display: black;
    max-width: 100%;
    height: auto;
}